@model List<AppTarefas.Models.Tarefa>
@{
	ViewData["Title"] = "Tarefas";
}

<h1 class="display-4 fw-bold">Lista de Tarefas</h1>

<a class="btn btn-primary btn-lg" asp-controller="Tarefas" asp-action="Create">Nova Tarefa</a>

<table class="table table-bordered table-striped mt-3">
	<thead>
		<tr>
			<th>ID</th>
			<th>Título</th>
			<th>Concluída</th>
			<th>Ações</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var tarefa in Model)
		{
			<tr>
				<td>@tarefa.TarefaId</td>
				<td>@tarefa.Titulo</td>
				<td>@tarefa.Concluida ? "Sim" : "Não" )</td>
				<td>
					<a asp-asp-controller="Tarefas" asp-action="Details" asp-route-id="@tarefa.TarefaId" class="btn btn-info btn-sm me-2">Detalhes</a>

					<a asp-asp-controller="Tarefas" asp-action="Details" asp-route-id="@tarefa.TarefaId" class="btn btn-warning btn-sm me-2">Editar</a>

					<a asp-asp-controller="Tarefas" asp-action="Details" asp-route-id="@tarefa.TarefaId" class="btn btn-danger btn-sm me-2">Excluir</a>

				</td>
			</tr>
		}



	</tbody>
</table>